@import "~../styles/_variables";

@mixin radius-mixin() {
  border-radius: 20px;
}
$square-size: 25vw;

.project-card {
  padding: 0 0.5vw 0 0.5vw;
  text-align: center;
  @media (max-width: $tablet) {
    grid-column-start: 2;
    grid-column-end: 6;
  }

  p {
    height: 3vh;
    padding-bottom: 3vh;
  }

  .miniature-link {
    display: flex;
    height: 200px;
    width: 100%;
    align-content: center;
    justify-content: center;

    .project-thumb {
      box-shadow: 0 0 10px 3px black;
      @include radius-mixin();
    }
  }
}
