@import "~../styles/_variables";

.project-card {
  width: 400px;
  height: 400px;
  padding: 0 0.5vw 0 0.5vw;
  @media (max-width: $tablet) {
    width: 80vw;
    height: 100%;
  }
}

@mixin radius-mixin() {
  border-radius: 20px;
}

.project-thumb {
  box-shadow: 0 0 10px 1px black;
  @include radius-mixin();
}
