main.index {
  display: grid;
  flex-direction: column;
  grid-template-columns: 25vw;
  grid-template-rows: auto;
  grid-template-areas:
    'featured featured featured featured'
    'about projects projects projects'
    'latest latest latest latest';
  grid-column-gap: 22px;
  min-height: 200vh;
  grid-row-gap: 22px;
  margin: 10px;
}

@media screen and (max-width: 750px) {
  main.index {
    margin: 0px;
  }
}

.grid-item {
  padding: 0.7em;
  box-shadow: 0 2px 15px 1px black;
  border-radius: 5px;
  max-width: 100vw;
  overflow: hidden;
}

.grid-item--featured {
  background-color: darkgray;
  grid-area: featured;
  height: 80vh;
}

.grid-item--about {
  background-color: black;
  color: #ffffff;
  grid-area: about;

  a {
    font-weight: bold;
    color: #e2e2e2;
  }

  a:hover {
    color: #cecece;
  }
}

.grid-item--projects {
  background-color: #e2e2e2;
  grid-area: projects;
  justify-self: stretch;
  
  
}

.grid-item--latest {
  background-color: grey;
  grid-area: latest;
}

.has-text-justified {
  text-align: justify;
}
